@use '@/assets/styles/utils' as v;
* {
  transition: 0.2s;
}

:target {
  scroll-margin-top: 100px; /* размер отступа */
}


//<<<<<
html {
  min-height: 100%;
  scroll-behavior: smooth;
}

body {
  background-color: v.$white;
  font-family: 'Manrope';
  min-height: 100%;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

main {
  flex: 1 1 auto;
}
//>>>>>> прижал футер

.container {
  margin: 0 auto;
  padding: 0px 15px;

  @media (min-width: v.em(768)) {
    max-width: v.rem(1230);
  }
}
